<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="username">

    <ion-label><b>Modifica la tua username</b></ion-label>

    <form [formGroup]="usernameFormModel">
      <ion-list>
        <ion-item lines="none">
          <ion-input type="text" formControlName="username" label="" placeholder="Username" required></ion-input>
        </ion-item>
        <ion-item-divider></ion-item-divider>
      </ion-list>
      <div class="buttons">
        <ion-button color="success" size="medium" shape="round" (click)="onSubmit()" [disabled]="!usernameFormModel.valid" tappable>
          Conferma
        </ion-button>
        <ion-button icon-left size="medium" shape="round" color="primary" (click)="onCancel()" tappable>
          Annulla
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>
