  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>-----</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="friends"></ion-back-button>
        </ion-buttons>
        <ion-title slot="start" size="small">{{geocacher.username}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-popover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false" side="left" alignment="start">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-item>
          <ion-label>Sei sicuro ?</ion-label>
          <ion-button size="small" color="success" (click)="remove(geocacher.id)">V</ion-button>
          &nbsp;
          <ion-button size="small" color="danger" (click)="reject()">X</ion-button>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-popover>

  <div class="geocacher">
    <p>{{geocacher.nome}} {{geocacher.cognome}}</p>
  </div>
    
  <div *ngIf="geocacher.privato == false" class="photo">
    <ion-img [src]="'data:image/jpeg;base64, ' + geocacher.foto.base64String"></ion-img>
  </div>

  <div *ngIf="geocacher.privato == true && amici == true" class="photo">
    <ion-img [src]="'data:image/jpeg;base64, ' + geocacher.foto.base64String"></ion-img>
  </div>

  <div *ngIf="geocacher.privato == true && amici == false" class="photo">
    <ion-img [src]="'../../../assets/icon/private.png'"></ion-img>
  </div>

  <ion-item lines="none">
      <div *ngFor="let medal of medals;let i = index" class="medal">
        <ion-icon name="medal-outline"></ion-icon>
      </div> 
  </ion-item>

  <ion-item lines="none">
    <p>{{min}}&nbsp;&nbsp;</p>
    <ion-progress-bar type="determinate" value={{progress}} color="success"></ion-progress-bar>
    <p>&nbsp;&nbsp;{{max}}</p>
  </ion-item>

  <div class="richiesta" *ngIf="amici == true" (click)="openModal()">
    <ion-button color="danger">
      &nbsp;&nbsp;Rimuovi&nbsp;&nbsp;
    </ion-button>
  
    <ion-icon *ngIf="richiesta == true" name="hourglass-outline" color="warning"></ion-icon>
  </div>

  <div class="richiesta" *ngIf="amici == false">
  <ion-button (click)="inviaRichiesta()" [disabled]="richiesta" color="dark">
    &nbsp;&nbsp;Aggiungi amico&nbsp;&nbsp;
  </ion-button>

  <ion-icon *ngIf="richiesta == true" name="hourglass-outline" color="warning"></ion-icon>
  </div>

</ion-content>
