.settings {
  margin: 2%;
  margin-top: 5%;
}

ion-item {
  padding-top: 5px;
}

ion-label {
    text-align: left;
    margin: 10px;
    margin-left: 30px;
    font-weight: bold;
}

ion-icon {
    color: #048785;
    font-size: 1.5em;
}

ion-button {
  display: inline-block;
  width: 25%;
  margin: 30px;
}